body {
    min-height: 600px;
    max-width: 80rem;
    background-color: whitesmoke;
}
.header {
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    grid-template-columns: 1 / span 2;
    grid-template-rows: 1;
    padding: 2em;
    margin: 0 auto;
    color:rgb(38, 38, 38);;
    font-family: caprasimo;
    
}

    h1 {
        font-size: 60px;
    }
    h2 {
        color: whitesmoke;
        background: rgb(38, 38, 38);
        font-size: 30px;
        font-weight:100;
        font-family:calistoga ;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        padding-bottom: 5rem;
        font-family: caprasimo;
        font-size: 1.5rem;
        font-weight: 1rem;
        gap: 1rem;
    }
    .header, nav, a {
        color: rgb(38, 38, 38);
    }
    
    img {
        max-width: 100%;
    } 
    li {
        list-style-type: none;
    }
    ul {
        margin: 0 auto;
        overflow: hidden;
        padding: 24px 0 0;
        width: 960px;
    }
    ul li {
        display: block;
        float: left;
        margin: 0 10px 20px;
        padding: 0;
        width: 300px;
    }
    ul li a {
        color: #000;
        display: block;
        font-family: poller_oneregular;
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    ul li a img {
        border: 2px solid #1a1a1a;
        display: block;
        margin: 0;
        padding: 0;
        opacity: .8;
        transition: 0.5s ease-in-out;
    }