body {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 40% 30% 10%;
    grid-template-areas: 
    "header"
    "img" "feature"
    ; */
    min-height: 600px;
    max-width: 80rem;
}
.header {
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    grid-template-columns: 1 / span 2;
    grid-template-rows: 1;
    padding: 2em;
    margin: 0 auto;
    color:black;
    font-family: caprasimo;
    
}

    h1 {
        font-size: 40px;
    }
    h2 {
        color: whitesmoke;
        background: rgb(38, 38, 38);
        margin-left: 550px;
        font-size: 30px;
        font-weight:100;
        font-family:calistoga ;
    }
    h3 {
        color: whitesmoke;
    }


.feature-text {
 
}

.feature {
    display: inline-block;
    background-image: url(barber1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 200px;
    padding-block: min (10vh, 10rem);
    margin: 7px 0;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

#body #feature div span {
    display: inline-block;
    background-color: aliceblue;
}

span {
    display: block;
    color: whitesmoke;
    background: rgb(38, 38, 38);
    margin: auto;
    justify-content:space-between ;
}

p {
    text-align: center;
    font-family: calistoga, cursive;
    font-size: 20px;
    margin-right: ;
    margin-left: 60%;
    background: rgb(38, 38, 38);
    color: whitesmoke;
    

}



#body #feature div span {
    display: inline-block;
    background-color: aliceblue;
}

img {
    grid-area: img;
    max-width: 100%;
    grid-template-columns: 1 / 2;
    grid-template-rows: 2 / 3;
}
li {
    list-style-type: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3rem;
    padding-bottom: 10rem;
    font-family: caprasimo;
    font-size: 1.5rem;
    font-weight: 1rem;
    gap: 1rem;
}
.header, nav, a {
    color: black;
}

.home-gallery {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: 0;
    padding: 0;
    gap: 1.5em;
    text-align: center;
    border: 2px rgb(177, 33, 33);
    padding-block: 10rem;
    padding-top: 100px;
    margin-top: 100px;
    font-family: calistoga;
    font-size: 1.5rem;
}

.footer {
    display: block;
    background:rgb(97, 97, 97);
    margin:0 ;
    margin-top: 100px;
    padding: 36px 0 42px;
}
.footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
i {
    border: whitesmoke;
}